# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Flask cache
instance/
.webassets-cache

# Flask session files
flask_session/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyBuilder
target/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# Docker
*.log
docker-compose.override.yml

# Ignore Docker Compose environment files
docker-compose.env

# Docker Machine files
.machine/

# Docker stack config files
stack.yml

# Media uploads (if you don't want to include them in git)
uploads/*

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Linux
*~

# Logs
*.log

# SQLite (if you use it)
*.sqlite3

# Environments
.env
.env.*

# PyCharm
*.iml
*.ipr
*.iws

# VS Code
.vscode/
*.code-workspace
