<div class="post" style="margin-left: {{ level * 20 }}px;">
    <p>{{ post_var.content }}</p>

    <!-- Exibição da mídia do post -->
    {% if post_var.media_filename %}
        {% if post_var.media_type == 'image' %}
            <img src="{{ url_for('uploaded_file', filename=post_var.media_filename) }}" alt="Post Image" class="post-media">
        {% elif post_var.media_type == 'video' %}
            <video controls class="post-media">
                <source src="{{ url_for('uploaded_file', filename=post_var.media_filename) }}" type="video/{{ post_var.media_filename.rsplit('.', 1)[1] }}">
                Seu navegador não suporta a reprodução de vídeos.
            </video>
        {% endif %}
    {% endif %}

    <p class="post-meta">{{ post_var.username }} · {{ post_var.formatted_time }}</p>
    <form action="{{ url_for('like_post', post_id=post_var.id) }}" method="post" class="like-form">
        {% if post_var.id in liked_posts %}
            <button type="submit">Unlike</button>
        {% else %}
            <button type="submit">Like</button>
        {% endif %}
        <span>{{ likes_count.get(post_var.id, 0) }} likes</span>
    </form>
    <a href="{{ url_for('reply', post_id=post_var.id) }}">Reply</a>
</div>

{% if post_var.children %}
    {% for child in post_var.children %}
        {% set post_var = child %}
        {% set level = level + 1 %}
        {% include 'post.html' %}
    {% endfor %}
{% endif %}
